fastapi==0.115.0
uvicorn==0.30.6
sqlalchemy==2.0.35
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
chromadb==0.5.5
sentence-transformers==3.1.1
ollama==0.3.3
faker==28.4.1
loguru==0.7.2
streamlit==1.38.0
pytest==8.3.3
